Repository junkor-1011/electron-nextjs-sample-2023: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write

.lintstagedrc.yaml:

'*.{ts,tsx,mts,cts}':
  - biome check --apply
'*.{js,jsx,mjs,cjs,json,jsonc}':
  - biome format --write

chore: format
  electron/index.ts
  electron/lib/custom-protocol.ts
  renderer/renderer.d.ts
  renderer/src/app/layout.tsx
  renderer/src/app/next/InvokeButton.tsx
  renderer/src/app/next/SendButton.tsx
  renderer/src/app/next/page.tsx
Due: biome check --apply

fix: biome config
  .lintstagedrc.yaml
Due: none

chore: update dependencies
  biome.json
  electron/package.json
  package.json
  pnpm-lock.yaml
  renderer/package.json
Due: biome format --write

upgrade Node.js 20 -> 22 & update dependencies
  Dockerfile
  biome.json
  electron/package.json
  package.json
  pnpm-lock.yaml
  renderer/package.json
Due: biome format --write

chore: husky v9
  .husky/pre-commit
Due: none

chore: update dependencies
  electron/package.json
  package.json
  pnpm-lock.yaml
  renderer/package.json
Due: biome format --write

turborepo
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Due: biome format --write
